<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="account-content">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 col-lg-6 login-left">
                        <img src="~/assets/img/carlogo.jpeg" class="img-fluid" alt="Login">
                    </div>
                    <div class="col-md-12 col-lg-6 login-right">
                        <div class="login-header">
                            <h3>Register</h3>
                        </div>
                        @if (ViewBag.error != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @ViewBag.error
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form action="">
                        <div class="form-group form-focus">
                            <input type="email" class="form-control floating" name="Email_Adress" required>
                            <label class="focus-label">Email Address</label>
                        </div>
                        <div class="form-group form-focus">
                            <input type="text" class="form-control floating" name="UserName" required>
                            <label class="focus-label">User Name</label>
                        </div>
                        <div class="form-group form-focus">
                            <input type="password" class="form-control floating" id="Password" name="Password" required>
                            <label class="focus-label">Password</label>
                        </div>
                        <div class="form-group form-focus">
                            <input type="password" class="form-control floating" id="confirm_password" name="confirm_password" required>
                            <label class="focus-label">Confirm Password</label>

                        </div>
                        <span id='message'></span>


                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit" style="background-color: #FE7157; border-color:#FE7157" id="Register">Register</button>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>

                        <div class="text-center dont-have">Already have an account? <a href="@Url.Action("Login", "Account")">Login</a></div>
                    </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $('#Password, #confirm_password').on('keyup', function () {
        
        if ($('#Password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'white');
            document.getElementById("Register").disabled = false;
        } else {
            $('#message').html('Password not matching').css('color', 'red');
            document.getElementById("Register").disabled = true;
        }
    });
</script>
